h1{
    margin: auto;
    font-size: 40px; 
    font-weight: 500;

    padding: 0;
}
app-portfolio-card{
    width: 100%;

}

::ng-deep .spinner{
    width: 100%;
    margin-top: 5%;
}

::ng-deep mat-spinner{
    margin: auto;
    width: 10%;
    
}
